/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// DOCUMENT /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ----------------------------------------------------------------- DOCUMENT --- */
html,
body {
    background-color: var(--theme-border);
    user-select: none;
}

/* --------------------------------------------------------------------- HTML --- */
html {
    height: 100%;
}

html.browser_load *,
html.browser_resize * {
    transition: none !important;
}

/* --------------------------------------------------------------------- BODY --- */
body {
    min-height: 100%;
}
