/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// METHOD /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------------------------------- POSITION : FILL --- */
@mixin position-fill($position) {
    position: $position;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------------------- STRIP UNIT --- */
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return ($number / ($number * 0 + 1));
    }
    @return $number;
}
