/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// TYPOGRAPHY /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------- ROOT --- */
:root {
    font-size: clamp(20px, calc((24 * (100vw - #{$break0}) / #{strip-unit($break1)})), 24px);
}

/* ----------------------------------------------------------------- DOCUMENT --- */
html,
body {
    font-family: $family;
    font-weight: 400;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------------------- ANCHOR --- */
a {
    cursor: pointer;
}
